.flexcontainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  &>*{
    // debug
    //border:1px solid red;
  }
}


.flexcontainer--reverse{
  .flexcontainer();
  flex-direction: row-reverse;
}

.container{
  max-width: @md-max;
  margin: auto;
  padding:1.25rem;
}
.col{
  flex :1;
  margin: 0.5% 1%;
}
.col3{
   flex: 1;
   min-width: 30%;
   margin: 0.5% 1%;
 }

.col4{
  flex: 1;
  min-width: 23%;
  margin: 0.5% 1%;
}

.col5{
  flex: 1;
  min-width: 18%;
  margin: 0.5% 1%;
}
.col1-20{
  max-width: 5.5%;
  flex: 1;
}
.col3-20{
   max-width: 15%;
   flex: 1;
 }

.flexbreakline{
  width: 100%;
}

@media @phone {
  .container{
    margin: 0;
  }
  .flexcontainer,.flexcontainer--reverse{
    display: block;
    margin: auto;
    padding: 0;
  }
  .col4{
    display: inline-block;
    min-width: 45%;
  }
  .infosbulle,#mentions{
    width: 90%;
    margin: auto;
    display: block;
    padding: 0;
  }
}

