<footer>
    <a href="#top" id="back2top">&Delta;</a>
    <div class="container flexcontainer">
        <div class="col3">
            <p class="title">
                Parcours
            </p>
        </div>
        <div class="col3">
            <p class="title">
                expertise
            </p>
        </div>
        <div class="col3">
            <p class="title">
                ➭ Trouvez moi sur
            </p>
            <div class="flexcontainer" id="social">
                <a href="http://twitter.com/empreintes">
                    <img src='/images/twitter.png' alt="twitter" width="77" height="77">
                </a>
                <a href="#">
                    <img src='/images/linkedin.png' alt="link" width="77" height="77">
                </a>
                <a href="#">
                    <img src='/images/instagram.png' alt="twitter" width="77" height="77">
                </a>
                <a href="#">
                    <img src='/images/googleplus.png' alt="Google" width="77" height="77">
                </a>
            </div>
        </div>

    </div>
    <div class="container" id="mentions">
        &copy; {{ site.time | date: '%Y' }} fait maison pour le fun, si vous trouvez un bug c'est par <a
                href="/about">ici</a>.
        Sauf autorisation la reproduction de tout ou partie des photos et créations présentes sur ce site est interdite. Les marques citées appartiennent à leurs propriétaires respectifs.
    </div>
</footer>

